<div class="bg">
  
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#4c92df">
    <a class="navbar-brand" href="showproducts">
      <h4 class="modal-title" style="color:#003c7e;">
        <i class="fa fa-shopping-bag" aria-hidden="true" style='font-size:30px; color:#003c7e;'></i>&nbsp;&nbsp;Easy Shop
      </h4>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="profile" style='font-size:20px; margin-top:5px; margin-left:10px'>Profile<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="payment" style='font-size:20px; margin-top:5px; margin-left:10px'>Payment<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="address" style='font-size:20px; margin-top:5px; margin-left:10px'>Address<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="manager" style='font-size:20px; margin-top:5px; margin-left:10px'>Manager<span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#" style='font-size:20px; margin-top:5px; margin-left:10px'></a>
        </li> -->
        
  
      </ul>
    </div>  
  </nav>

  <div class="container-fluid" style="margin-top:60px">
    <router-outlet></router-outlet>
  </div>
</div>